.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Bungee Tint', sans-serif;
  text-shadow: 5px 0 #232931;
  font-size: 6rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}
.rollButton {
  display:flex;
  justify-content: center;
  align-items: center;
}

button {
  width:5rem;
  height: 5rem;
  text-align: center;
  background-color: darkred;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: fantasy;
  border: none;
  border-radius: 15%;
}

button:active {
  background-color: rgba(139, 0, 0, 0.555);
  color: rgba(255, 255, 255, 0.555)
}